pki = $ENV::PKI # PKI root directory

[ ca ]
default_ca      = CA_own

[ CA_own ]
dir              = $pki/db
certs            = $pki/db
new_certs_dir    = $pki/db/ca.db.certs
database         = $pki/db/ca.db.index
serial           = $pki/db/ca.db.serial
RANDFILE         = $pki/db/ca.db.rand
certificate      = $pki/certificates/ca.crt
private_key      = $pki/certificates/ca.key
default_days     = 3000
default_crl_days = 30
default_md       = md5
preserve         = no
policy           = policy_anything

[ policy_anything ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional 
